/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;

}
#slideshow img{
position: absolute;
left: 0;
right: 0;
margin: auto;
    

    width: 60%;
    height: 60%;
}


body {
       background: url("https://github.com/ehuesca5/stand-alone-portfolio-master/blob/gh-pages/img/background.jpg?raw=true");
  }

.ttop {
    width: 450px;
    
    height: 300px;
}



/* Gallery Styling */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 300px;
  align-items: center;
}

figure {
  background-color: rgba(0,0,0,.35) ;
  
  display: ;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 20em;
  
  margin: 50px 400px;
  margin-top: 150px;    
}
img {
    width: 250px
}
a {
    padding: .5em
}
p {
    color: white;
}
h1 {
    text-align-last: center;
    font-size: 7em;
    color: white; 
    font-family: 'Aref Ruqaa', serif;
    margin-top: 10px;
    line-height: 120px
 
}
figcaption {
    color: white;
    font-size: 2em;
    font-family: 'Aref Ruqaa', serif;
}
.lg-backdrop {
    background: rgba(255,255,255,1);
}

.lg-image {
    box-shadow: 0 0 30px #333;
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
/*
  body {
       background: red;
  }
  
*/

figure{
        justify-content: center;
    }

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. /*
    body {
       background: green;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
/*  body {
       background: blue;
  }

}