/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;

}
header img {
    display: block;
    object-fit: cover;
    background: rgba(0,0,0,.5);
    padding: .7em;
    
}
#slideshow img{
position: absolute;
left: 0;
right: 0;
margin: auto;
    

    width: 60%;
    height: 60%;
}


body {
       background: url("https://github.com/ehuesca5/stand-alone-portfolio-master/blob/gh-pages/img/background.gif?raw=true");
  }

.ttop {
    width: 450px;
    
    height: 300px;
}



/* Gallery Styling */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 300px;
  align-items: center;
}

figure {
  background-color: rgba(0,0,0,.35) ;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
    width: 800px;
  
 
  margin-top: 200px;    
}
img {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid red;
}
a {
    padding: .5em
}
p {
    color: white;
}
h1 {
    text-align-last: center;
    font-size: 7em;
    color: white; 
    font-family: 'Aref Ruqaa', serif;
    margin-top: 20px;
    line-height: 120px
 
}
h3 {
    font-family: 'Aref Ruqaa', serif;
    font-size: 4em;
    margin-top: 140px;
    margin-bottom:200px;
    color: white;
}
figcaption {
    color: white;
    font-size: 1.5em;
    font-family: 'Aref Ruqaa', serif;
    word-spacing: 6px;
}
.lg-backdrop {
    background: rgba(0,0,0,.8);
}

.lg-image {
    box-shadow: 0 0 30px #333;
}
.lg-toolbar.group {
    background: rgba(179,3,3,.6)
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
/*
  body {
       background: red;
  }
  
*/

figure{
        justify-content: center;
    }

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. /*
    body {
       background: green;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
/*  body {
       background: blue;
  }

}